<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-callkit" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova CallKit</name>

    <js-module name="VoIPPushNotification" src="www/VoIPPushNotification.js">
        <clobbers target="VoIPPushNotification" />
    </js-module>

    <js-module name="CordovaCall" src="www/CordovaCall.js">
        <clobbers target="cordova.plugins.CordovaCall" />
    </js-module>

    <js-module src="www/PushNotification.js" name="PushNotification">
		<clobbers target="PushWooshNotification" />
	</js-module>

    <platform name="android">

	    <preference name="LOG_LEVEL" default="DEBUG" />
	    <preference name="ANDROID_FOREGROUND_PUSH" default="false" />

        <hook type="before_plugin_install" src="hooks/npmInstall.js"/>
		<hook type="before_plugin_install" src="hooks/handle_google_services.js" />
		<hook type="after_plugin_install" src="hooks/google_services_cleanup.js" />

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<meta-data android:name="com.pushwoosh.log_level" android:value="$LOG_LEVEL" />
			<meta-data android:name="com.pushwoosh.foreground_push" android:value="$ANDROID_FOREGROUND_PUSH" />
			<meta-data android:name="com.pushwoosh.notification_service_extension" android:value="com.dmarc.cordovacall.PushwooshNotificationServiceExtension" />
			<meta-data android:name="com.pushwoosh.internal.plugin_provider" android:value="com.dmarc.internal.PhonegapPluginProvider" />
            
            <service android:name="com.dmarc.cordovacall.MyConnectionService"
                    android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
                <intent-filter>
                    <action android:name="android.telecom.ConnectionService" />
                </intent-filter>
            </service>
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaCall">
                <param name="android-package" value="com.dmarc.cordovacall.CordovaCall" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE"/>
            <uses-permission android:name="android.permission.CALL_PHONE"/>
            <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
        </config-file>

        <source-file src="src/android/CordovaCall.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/MyConnectionService.java" target-dir="src/com/dmarc/cordovacall" />

		<source-file src="src/android/pushnotifications/InboxUiStyleManager.java" target-dir="src/com/dmarc/cordovacall" />

		<source-file src="src/android/pushnotifications/PushwooshNotificationServiceExtension.java" target-dir="src/com/dmarc/cordovacall" />

		<source-file src="src/android/internal/PhonegapPluginProvider.java" target-dir="src/com/dmarc/internal" />

		<framework src="com.google.firebase:firebase-core:16.0.4" />
		<framework src="com.google.firebase:firebase-messaging:17.3.4" />

		<framework src="com.android.support:support-v4:28.0.0" />
		<framework src="com.android.support:appcompat-v7:28.0.0" />
		<framework src="com.android.support:recyclerview-v7:28.0.0" />
		<framework src="com.android.support:design:28.0.0" />
		<framework src="com.android.support.constraint:constraint-layout:1.0.2" />
		<framework src="com.github.bumptech.glide:glide:4.7.1" />
		<framework src="org.jetbrains.kotlin:kotlin-stdlib-jre7:1.1.60" />
		<framework src="com.pushwoosh:pushwoosh:5.17.2"/>
		<framework src="com.pushwoosh:pushwoosh-amazon:5.17.2"/>
		<framework src="com.pushwoosh:pushwoosh-badge:5.17.2"/>
		<framework src="com.pushwoosh:pushwoosh-inbox:5.17.2"/>
		<framework src="com.pushwoosh:pushwoosh-inbox-ui:5.17.2"/>
		<framework src="src/android/googleservices-build.gradle" custom="true" type="gradleReference" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaCall">
                <param name="ios-package" value="CordovaCall" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>remote-notification</string>
                <string>voip</string>
            </array>
        </config-file>

        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>

        <header-file src="src/ios/CordovaCall.h" />

        <source-file src="src/ios/CordovaCall.m" />
        <source-file src="src/ios/AppDelegateCordovaCall.m" />

        <framework src="PushKit.framework" />
        <framework src="CallKit.framework" />
    </platform>
</plugin>
